form {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    padding-top: 30px;
    width: 600px;
    height: 450px;
    border-radius: 50px;
    border: 10px solid black;
}

input {
    margin: 10px;
}

#submit-button {
    background-color: white;
    color: #8B6A84;
    font-size: 22px;
    display: block;
    margin: auto;
    margin-top: 20px;

}

#submit-button:hover {
    background-color: black;
}

#content-box {
    width: 400px;
    height: 100px;
    resize: none;
}